.button{
-fx-color:grey;
}
.root{
-fx-background-color: #333333;
-fx-text-fill: white;
}
.label{
color: #808080;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}
.textField{
	border: 3px double #CCCCCC;
	width: 230px;
}
